{{!-- this is a template file --}}
<!-- change bottom right handlebars format to html then add html template via '!' -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hi {{username}}!</h1>
    <h3>Your lucky number is {{luckyNum}}</h3>
</body>
</html>