{{#extends 'base'}}

{{#block "content"}}
<h1>Contact us</h1>

<form method="POST">
<input type="textarea" class="form-control"/>
</form>
{{/block}}

{{#block "special"}}
Do you prefer to <a href="mailto:eee@test.com">email?</a>
{{/block}}

{{/extends}}